{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
    <!-- Start Title -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="page-title">
                        <h2 class="text-dark fw-light lh-base mt-5">Any variation that fits your <span
                                class="fw-medium title">variation</span></h2>
                        <p class="fs-16 text-muted mb-0">always ready to work and give the best! make sure you always leave a rating on our results, we are always open to receiving ratings!</p>
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>
    <!-- End Title -->

    <section class="sm-section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <img src="{% static 'images/ok.jpg'%}" alt="about-img" class="img-fluid rounded-3 pe-lg-4" height="500px"/>
                </div>
                <div class="col-lg-6">
                    <div class="d-flex align-items-center py-3">
                        <h6 class="me-4">Location : <span class="fw-normal text-muted ms-1">Indonesian</span></h6>
                        <h6>Since: <span class="fw-normal text-muted ms-1">2023 </span></h6>
                    </div>

                    <div class="row align-items-center border-top py-4">
                        <div class="col-sm-4 py-sm-0 py-3">
                            <h5>3026</h5>
                            <p class="text-muted fs-15 mb-0">Projects Completed</p>
                        </div>
                        <div class="col-sm-4 py-sm-0 py-3">
                            <h5>568</h5>
                            <p class="text-muted fs-15 mb-0">Awards receive</p>
                        </div>
                        <div class="col-sm-4 py-sm-0 py-3">
                            <h5>7089</h5>
                            <p class="text-muted fs-15 mb-0">Happy Clients</p>
                        </div>
                    </div>
                    <p class="text-muted fs-15">
                        there are many variations that we serve for those of you who are looking 
                        for someone to fulfill your wants or needs, and you are very right in 
                        choosing and trusting us to fulfill your wants or needs, because we have good 
                        teamwork and certainly produce unique, interesting results , and satisfy clients!
                    </p>

                    <a href="https:/behance.net/" class="btn btn-primary mt-3">Get More <i class="icon-xs"
                            data-feather="arrow-right"></i></a>
                </div>
            </div>
        </div>
        <!-- end container -->
    </section>

    <!-- start brand-logo -->
 
{% endblock %}