{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
<!-- Start Title -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <h2 class="text-dark fw-light lh-base mt-5">Let's Keep In <span class="title fw-medium">Touch</span>
                </h2>
                <p class="fs-16 text-muted mb-0">Contact us to tell what you want to say and suggest. Thank you for your participation!</p>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>
<!-- End Title -->

<section class="sm-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mt-5">
                <div>
                    <h5 class="text-muted fw-medium fs-14">Email Address</h5>
                    <p class="text-dark fs-16">soziaagency@email.com</p>
                </div>
                <div class="mt-4">
                    <h5 class="text-muted fw-medium fs-14">Telephone</h5>
                    <p class="text-dark fs-16">+62 878 3210 1020</p>
                </div>
                <div class="mt-4">
                    <h5 class="text-muted fw-medium fs-14">Address</h5>
                    <p class="text-dark fs-16">Tapos 1, Tenjolaya, Bogor. <br>Indonesian</p>
                </div>
            </div>
            
            <div class="col-lg-8 mt-5">
                <div id="simple-msg"></div>
                <form id="contect_form" method="post"  enctype="multipart/form-data">
                    {% csrf_token %}
                    <span id="error-msg"></span>
                    <div class="row g-3">
                        <div class="col-lg-6">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="name" placeholder="Your name" />
                                <label class="text-muted" for="name">Your name</label>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" placeholder="Your email" id="email" />
                                <label class="text-muted" for="email">Email address</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" placeholder="Subject" id="subject" />
                                <label class="text-muted" for="subject">Subject</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-floating mb-3">
                                <textarea class="form-control" placeholder="Your Message...." style="height: 100px;"
                                    id="comments"></textarea>
                                <label class="text-muted" for="comments">Your message</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <button type="submit" id="submit-contact" class="btn btn-primary rounded">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div> <!-- end container -->
    </div>
</section>


<!-- end brand-logo -->
{% endblock content %}