{% extends 'partials/base.html' %}
{% load static %}
{% block content %}

    <!-- Start Title -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <h2 class="text-dark fw-light lh-base mt-5">We provide a absolute list of <span
                            class="fw-medium title">Superior</span> digital services.</h2>
                    <p class="fs-16 text-muted mb-0">We have a lot of digital services, and surely you won't regret knowing it! :D</p>
                </div>
            </div>
        </div>
        <!-- end container -->
    </section>
    <!-- End Title -->


    <section class="mt-5">
        <div class="container">

            <div class="row">
                <div class="col-lg-4">
                    <div class="service-box">
                        <div class="service-icon text-primary">
                            <i class="pe-7s-leaf"></i>
                        </div>
                        <h4 class="text-uppercase text-dark fw-medium fs-16 mt-4">Branding</h4>

                        <p class="text-muted fs-16">we have high branding, which is the main point in our agency! Besides having high branding, we have services and offers that are very unique and eye-catching</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="service-box">
                        <div class="service-icon text-primary">
                            <i class="pe-7s-helm"></i>
                        </div>
                        <h4 class="text-uppercase text-dark fw-medium fs-16 mt-4">Highly customizable</h4>

                        <p class="text-muted fs-16">you can customize your order with us! and we will gladly consider it!</p>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="service-box">
                        <div class="service-icon text-primary">
                            <i class="pe-7s-airplay"></i>
                        </div>
                        <h4 class="text-uppercase text-dark fw-medium fs-16 mt-4">Responsive design</h4>

                        <p class="text-muted fs-16">Without a responsive design, the website will not look beautiful and match its size, that's why we provide an attractive responsive design</p>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="service-box">
                        <div class="service-icon text-primary">
                            <i class="pe-7s-coffee"></i>
                        </div>
                        <h4 class="text-uppercase text-dark fw-medium fs-16 mt-4">User Experience</h4>

                        <p class="text-muted fs-16">User experience is one of the important points in the experience of running a website, therefore we always do our best for the best user experience</p>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="service-box">
                        <div class="service-icon text-primary">
                            <i class="pe-7s-rocket"></i>
                        </div>
                        <h4 class="text-uppercase text-dark fw-medium fs-16 mt-4">Optimised for speed</h4>

                        <p class="text-muted fs-16">Being fast in working on customer orders is one of the advantages that we have, apart from doing it quickly, the final result is also satisfying</p>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="service-box">
                        <div class="service-icon text-primary">
                            <i class="pe-7s-headphones"></i>
                        </div>
                        <h4 class="text-uppercase text-dark fw-medium fs-16 mt-4">Dedicated support</h4>

                        <p class="text-muted fs-16">Always dedicated to achieving customer satisfaction and providing customer support</p>
                    </div>
                </div>
            </div>

        </div> <!-- end container -->
    </section>


{% endblock content %}